@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins' sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.logo {
    margin-left: 10px;
    max-width: 100px;
}

.content {
    flex: 1;
    display: flex;
    align-items: stretch;
}

.left-section {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.left-section img {
    max-width: 100%;
    height: auto;
}

.right-section {
    flex: 1;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    width: 20%;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="phone"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}